<main>
  <div class="container">
  <div class="p-2"></div>
  <div class="row">
    <div class="col-12 text-center">
      <span style="font-size: 4em;" class="text-nowrap">
         <i class=" fas fa-swimming-pool"></i> CALCULATOR
      </span>
    </div>
  </div>

  <div class="p-2"></div>

  <div class="row">
    <div class="col-md-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Poolsize&nbsp;<i class="fas fa-tint"></i></span>
        </div>
        <input type="number"  class="form-control" placeholder="Pool" aria-label="Pool" aria-describedby="basic-addon1" name="poolSize" id="poolSize" [(ngModel)]="werte.poolSize">
      </div>
    </div>


    <div class="col-md-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">ww</span>
        </div>
        <input type="number" class="form-control" placeholder="Wert2" aria-label="Wert2" aria-describedby="basic-addon2" name="wert2" id="wert2"  [(ngModel)]="werte.wert2">
      </div>
    </div>

    <div class="col-md-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Wert3</span>
        </div>
        <input type="number" class="form-control" placeholder="Wert3" aria-label="Wert3" aria-describedby="basic-addon3" name="wert3" id="wert3"  [(ngModel)]="werte.wert3">
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-12 text-center">
        <div>
          <span style="font-size: 4em;">
            <i class="fas fa-tablets"></i> {{this.werte.poolSize+this.werte.wert2+this.werte.wert3}}
        </span>
        </div>
      </div>
    </div>

  </div>
</main>
